*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background-color: 	#301934;
    color: white;
}

html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 5rem;

}

.img{
    width: 100%;
    text-align: center;
}


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    img{
        width: 6rem;
        height: 6rem;
    }
    
    .header{
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    
    .input-div{
        width: 22rem;
        gap: 0.6rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    #endor-input{
        width: 100%;
        height: 10rem;
        outline: none;
        margin: 1rem auto;
        border-radius: 0.5rem;
        border: none;
        background-color: #49384a;
        padding: 1rem;
        resize: none;
    }
    
    #from-input, #to-input{
        padding: 1rem 0.6rem;
        border-radius: 0.5rem;
        background-color: #49384a;
        border: none;
        margin: 0 0.1rem 1.5rem 0.1rem;
        outline: none;
        font-size: 0.9rem;
    }
    
    #publish{
        display: block;
        text-align: center;
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        background-color: white;
        color: #301934;
        font-weight: bold;
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    
    #publish:active{
        background-color: rgb(232, 229, 229);
        transform: scale(0.97);
    }
    
    h2{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
        padding: 0.7rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem #301934;
    }
    
    .endorsements-container{
        background-color: white;
        width: 22rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    
    .endor-list{
        list-style-type: none;
        background-color: white;
    }
    
    .endorsements-container.hide{
        display: none;
    }
    
    .endorsement{
        background-color: rgb(240, 239, 239);
        width: 100%;
        color: black;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.8rem;
    }
    
    .endor-to{
        padding: 0.5rem;
        font-size: 1.1rem;
        background-color: rgb(240, 239, 239);
        color: #301934;
        font-weight: bold;
    }
    
    .endor-text{
        padding: 1rem;
        font-size: 1rem;
        background-color: rgb(240, 239, 239);
        color: black;
        margin-bottom: 1.5rem;
        word-wrap : break-word;
    }
    
    .endor-from{
        font-size: 1.1rem;
        background-color: rgb(240, 239, 239);
        color: #301934;
        font-weight: bold;
    }
    
    .from-likes{
       width: 100%;
       padding: 0.5rem;
       background-color: rgb(240, 239, 239);
       color: black;
       position: relative;
    }
    
    
    .likes-count{
        font-size: 1.2rem;
        font-weight: bold;
        color: #f4719b;
        position: absolute;
        right: 0.1rem;
        bottom: 0.4rem;
        background-color: rgb(240, 239, 239);
    }    
    
    .likes-count:active{
        color: #e95b88;
        transform: scale(1);
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    img{
        width: 8rem;
        height: 8rem;
    }
    
    .header{
        width: 100%;
        text-align: center;
        font-size: 2.7rem;
    }
    
    .input-div{
        width: 30rem;
        gap: 0.6rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    #endor-input{
        width: 100%;
        font-size: 1.2rem;
        margin: 1rem auto;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: #49384a;
        border: none;
        outline: none;
        resize: none;
    }
    
    #from-input, #to-input{
        width: 46.5%;
        border-radius: 0.5rem;
        margin: 0 0.4rem 1.5rem 0.4rem;
        background-color: #49384a;
        font-size: 1rem;
        border: none;
        outline: none;
    }
    
    #publish{
        display: block;
        text-align: center;
        border: none;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        background-color: white;
        color: #301934;
        font-weight: bold;
        font-size: 1.5rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    
    #publish:hover{
        background-color: rgb(232, 229, 229);
    }
    
    #publish:active{
        transform: scale(0.97);
    }
    
    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        padding: 0.9rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem #301934;
    }
    
    .endorsements-container{
        background-color: white;
        width: 30rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    
    .endor-list{
        list-style-type: none;
        background-color: white;
    }
    
    .endorsements-container.hide{
        display: none;
    }
    
    .endorsement{
        background-color: rgb(240, 239, 239);
        width: 100%;
        color: black;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        padding: 0.8rem;
    }
    
    .endor-to{
        padding: 0.5rem;
        font-size: 1.3rem;
        background-color: rgb(240, 239, 239);
        color: #301934;
        font-weight: bold;
    }
    
    .endor-text{
        padding: 1rem;
        font-size: 1.2rem;
        background-color: rgb(240, 239, 239);
        color: black;
        margin-bottom: 1.5rem;
        word-wrap : break-word;
    }
    
    .endor-from{
        font-size: 1.3rem;
        background-color: rgb(240, 239, 239);
        color: #301934;
        font-weight: bold;
    }
    
    .from-likes{
       width: 100%;
       padding: 0.5rem;
       background-color: rgb(240, 239, 239);
       color: black;
       position: relative;
    }
    
    
    .likes-count{
        font-size: 1.3rem;
        font-weight: bold;
        color: #ef7ea2;
        position: absolute;
        right: 0.1rem;
        bottom: 0.4rem;
        background-color: rgb(240, 239, 239);
    }
    
    .likes-count:hover{
        color: #eb5584;
        transform: scale(1.1);
        cursor: pointer;
    }
    
    
    .likes-count:active{
        color: #e34174;
        transform: scale(1);
    }
 }